h1{
    margin-top: 10 px;
}

/* h2{
    margin: ;
    padding: ;
    
} */
.fixed-position{
    position: fixed;
    background-color: aqua;
    text-align: center;
    margin-top: 10px;
    margin-left: 30px;
    padding: 5px;
    width: 1000px;
}
.relative-position{
    position: relative;
    margin-top: 50 px;
}
.box-model{
    width: 1000px;
    background-color: palegreen;
    margin: 20px;
    padding: 15px;
    border: solid 5px;
    border-color: blue;
}
